.image-slide{


height:800px;

overflow:hidden;

}


.section-1-container{


min-height:600px;

}


.section-2-container{


min-height:200px;

}


.section-3-container{


min-height:600px;

}

.section-4-container{


min-height:600px;

}

.section-6-container{


min-height:400px;
background-color: #3c3737;

}


.section-8-container{
background-color:#000;
color:#bbb;
font-size:12px;


}

.section-8-container a{

	color:#bbb;
}


.header-icon img{


width:32px;
margin-left:15px;

}



.left-side-content{



}


.right-side-content{




}


.sec-header{

margin-bottom:15px;
color:#97b7ad;
font-size: 18px;
font-weight: bold;



}


.sec-body{





}



.section-3-container{



	background-color: #e4e4e4;

}

.section-4-container{



	
}







.consult-b {
	background-color:#000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:6px 76px;
	text-decoration:none;
	
}
.consult-b:hover {
	background-color:#64ad6d;
	text-decoration:none;
	color:#ffffff;

}
.consult-b:active {
	position:relative;
	top:1px;
}

.site-header{


font-size: 36px;
font-weight: bold;
text-align:center;
margin-bottom:30px;
margin-top:30px;

}

.site-header img{

width:36px;
padding-bottom:10px;


}

.works-header img{

width:32px;

}


.works-header{

	margin-bottom: 15px;
	text-align: center;
	

}

.works-description{
	margin-bottom: 15px;
	text-align: center;
	color:white;
	
}

.works-body{
	margin-bottom: 15px;
	margin-left:15px;
	
}

.works-site-header{
font-size:36px;
margin-bottom: 30px;
text-align: center;



}

.section-2-container{


	text-align:center;
}



.more-b {
	background-color:#ffc266;
	display:inline-block;
	cursor:pointer;
	color:#706651;
	font-family:Arial;
	font-size:19px;
	font-weight:bold;
	padding:12px 24px;
	text-decoration:none;
}
.more-b:hover {
	background-color:#ffc266;
}
.more-b:active {
	position:relative;
	top:1px;
}


.more-i{
width:32px;


}

.explain-wrapper-link{
text-decoration: none;
color:#000;


}
.explain-wrapper-link:hover{
text-decoration: none;
color: #97b7ad;

}

.explain-wrapper:hover{

color: #97b7ad;
text-decoration: none;




}




.form-label-pack{


margin-bottom:5px;



}

.form-fields-pack{


margin-bottom:15px;


}

.form-wrapper-pack{

margin-top:60px;

}



.form-fields-pack #question{




	height:300px;
}







.package-wrapper{


	width:350px;
}


.package-items li{

margin-bottom:5px;

}

.flex-item{

display:inline-block;
margin:1%;
}


.package-img {

width:32px;

}


.package-header{

margin-bottom: 30px;
margin-left:15px;
color:#97b7ad;


}


.package-price{

margin-left:15px;
margin-bottom: 15px;

}

.package-button{



margin-left:15px;

}

.config-b {
	background-color:#74ad5a;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:11px 41px;
	text-decoration:none;
}
.config-b:hover {
	background-color:#74ad5a;
	text-decoration:none;
	color:#ffffff;
}
.config-b:active {
	position:relative;
	top:1px;
}


.detail-b-wrapper{

margin-bottom:30px;

}



.site-header-contact{

font-size:36px;
font-weight: bold;
margin-bottom:30px;
margin-top:30px;


}


.footer-wrapper{

color:#fff;


}


.space{

margin-bottom:15px;


}


.header-footer{
	padding-top:15px;
margin-top:15px;
margin-bottom:15px;


}

.tx-grey{

color:#888384;

}

.tx-green{
color:#879c87;



}


.footer-icon{

font-size:24px;
margin-right:5px;


}

.social-link{
color:#fff;

}
.social-link:hover{

color:#e54939;


}

#map {
  height: 400px;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */
 }


 .map-site-header{

margin-top: 30px;
margin-bottom: 30px;
font-size: 36px;
font-weight: bold;
text-align: center;



 }


.detail-header{

margin-bottom:30px;
    color: #97b7ad;
    font-size: 18px;
    font-weight: bold;
    text-align: center;

}


.20ck{

display:flex;
align-items:stretch;


}



.carousel-caption{
margin-bottom:250px;

}




.line{
  opacity:0;
  display:block;
  animation: slidein 2s ease-out forwards;
}
@keyframes slidein{
 0%{ opacity:0; transform:translateY(-55px); }
  100%{ opacity:1; transform:translateY(0px); }
}


.line-l{
  opacity:0;
  display:block;
  animation: slidein2 2s ease-out forwards;
}
@keyframes slidein2{
 0%{ opacity:0; transform:translateX(-155px); }
  100%{ opacity:1; transform:translateY(0px); color:#a75844; }
}

.line-r{
  opacity:0;
  display:block;
  animation: slidein3 2s ease-out forwards;
}
@keyframes slidein3{
 0%{ opacity:0; transform:translateX(155px); }
  100%{ opacity:1; transform:translateY(0px); color:#cc9139;}
}




.line-left{
  opacity:0;
  display:block;
  animation: slidein4 2s ease-out forwards;
}
@keyframes slidein4{
 0%{ opacity:0; transform:translateX(-155px); }
  100%{ opacity:1; transform:translateY(0px);  }
}

.line-right{
  opacity:0;
  display:block;
  animation: slidein5 2s ease-out forwards;
}
@keyframes slidein5{
 0%{ opacity:0; transform:translateX(155px); }
  100%{ opacity:1; transform:translateY(0px); }
}





.box{
 
  margin-bottom:30px;
  padding:15px;
  margin-right:5px;
  border:1px solid #d6d6d6;
  box-shadow:0 2px 3px 0px rgba(0,0,0,0.25);
  border-radius:3px;
  transition:.2s all; 
  color:#000;
  min-height:250px;
  

   
}


.box a{
text-decoration: none;
color:#000;


}

.box a:hover{

	text-decoration: none;
}

.box-wrap:hover .box{
  filter:blur(3px);
  opacity:.5;
  transform: scale(.98);
  box-shadow:none;
}
.box-wrap:hover .box:hover{
  transform:scale(1);
  filter:blur(0px);
  opacity:1;
  box-shadow:0 8px 20px 0px rgba(0,0,0,0.125);
}

.cblue{
background-color: blue;}
.cgreen{
background-color: green;}
.cyellow{
background-color: yellow;}
.cred{
background-color: red;}
.corange{
background-color: orange;}
.cbrown{
background-color: brown;}
.cgrey{
background-color: grey;}
.cpurple{
background-color: purple;}

.inline{

display:inline-block;

}

.flex-pack{
display: flex;
justify-content: center;

}