

<div class="row main-row">
	<div class=" col-1"></div>
	

<div class="left-side-content col-4">
	<a  class="explain-wrapper-link" href="javascript:load_content('/aspackage', 'section-1-container')">

    <div class="explain-wrapper">
	<div class="row sec-header">
    <div class="col-lg-2  col-sm-3 header-icon"> <img src="{{ url_for('static', filename='img/icons/package.svg') }}"></div>
	<div class="col-lg-10 col-sm-9 header-header">Ihre gesamte IT als ein Paket</div></div>


	<div class="row sec-body">
		<div class="col-12">Bei myITBox haben sie die Möglichkeit zwischen verschiedenen für Ihre Situation passenden Paketen zu wählen ohne sich
			lange über die möglichen Dienstleistung, Partner oder Umsetzung Gedanken zu machen.</div></div> </div></a>

			<a  class="explain-wrapper-link" href="javascript:load_content('/transparent', 'section-1-container')">
 <div class="explain-wrapper">
		<div class="row sec-header">
    <div class="col-lg-2 col-sm-3 header-icon"> <img src="{{ url_for('static', filename='img/icons/box.svg') }}"></div>
	<div class="col-lg-10 col-sm-9 header-header">Transparente Kosten</div></div>

        <div class="row sec-body">
		<div class="col-12">Keine versteckten Kosten, Sie wissen bereits vorher was sie bezahlen und können damit Kosten perfekt in Ihr Budget einplanen und zahlen nur das was Sie wirklich brauchen.  </div></div></div></a>




</div>



<div class="middle-side-content col-2"></div>


<div class="right-side-content col-4">

	<a  class="explain-wrapper-link" href="javascript:load_content('/lego', 'section-1-container')">

  <div class="explain-wrapper">
	<div class="row sec-header">
		<div class="col-lg-2 col-sm-3 header-icon"> <img src="{{ url_for('static', filename='img/icons/lego.svg') }}"></div>
	<div class="col-lg-10 col-sm-9 header-header">Individuelle Zusammenstellung nach dem Baukastenprinzip</div>
</div>

<div class="row sec-body">
		<div class="col-12">Ihnen gefallen die von uns vordefinierten Pakete nicht ? Kein Problem stellen Sie sdich selbst aus  über 100 verfügbaren Modulen ihre perfekte IT zusammmen.
			

		</div></div></div></a>

<a  class="explain-wrapper-link" href="javascript:load_content('/scalable', 'section-1-container')">
<div class="row sec-header">
    <div class="col-lg-2  col-sm-3 header-icon"> <img src="{{ url_for('static', filename='img/icons/plant-tree.svg') }}"></div>
	<div class="col-lg-10  col-sm-9 header-header">Skalierbar mit Ihren zukünftigen Bedürfnissen und dem Wachstum Ihrer Firma</div>
</div>

  <div class="explain-wrapper">
<div class="row sec-body">
		<div class="col-12">Sie können zu jederzeit minutengenau abgerechnet,Dienste hinzubuchen oder deaktivieren so haben Sie zu jederzeit die volle Kontrolle und passen die IT immer perfekt an die jeweiligen Erfordernisse und Auftragslagen an.
			

		</div></div></div></a>

</div>
<div class=" col-1"></div>







</div>







