<div class="footer-wrapper container">
	
<div class="row header-footer"> 
<div class="col-4">Kontakt</div>
<div class="col-4">Über uns</div>
<div class="col-4">Sitemap</div>

</div>

<div class="row"> 
<div class="col-4">
<div class="row tx-grey" ><div class="col-12">myBoxIT - IT Dienstleistung Graz</div></div>
<div class="row tx-grey"><div class="col-12">Lessingstraße 17</div></div>
<div class="row tx-grey"><div class="col-12">8010 Graz</div></div>
<div class="row space"><div class="col-12"></div></div>
<div class="row tx-green"><div class="col-12">info@myboxit.at</div></div>
<div class="row tx-green"><div class="col-12">+43664 3762293</div></div>
<div class="row space"><div class="col-12"></div></div> 
<div class="row  "><div class="col-12">
<a class="social-link" href="#"><i class="fab fa-facebook footer-icon"></i></a>
<a class="social-link" href="#"><i class="fab fa-linkedin-in footer-icon"></i></a>
<a class="social-link" href="#"><i class="fab fa-google-plus-square footer-icon"></i></a></div></div></div>









<div class="col-4 tx-grey">Wir sind ein in Graz ansässiges IT Startup dass sich zum Ziel gesetzt hat, die bestmögliche IT so einfach und günstig wie möglich anzubieten.</div>
<div class="col-4">
<div class="row tx-grey"><div class="col-12">Wordpress Entwicklung</div></div>
<div class="row tx-grey"><div class="col-12">Cloud</div></div>
<div class="row tx-grey"><div class="col-12">Shop Entwicklung</div></div>
<div class="row tx-grey"><div class="col-12">IT-Support</div></div>






</div>

</div>







</div>