
<div class="works-site-header">Wie es funktioniert</div>



<div class="row works-header">
<div class="col-3"> <img src="{{ url_for('static', filename='img/icons/coffee.svg') }}"></div>
<div class="col-3"> <img src="{{ url_for('static', filename='img/icons/marketing.svg') }}"></div>
<div class="col-3"> <img src="{{ url_for('static', filename='img/icons/route.svg') }}"></div>
<div class="col-3"> <img src="{{ url_for('static', filename='img/icons/peak.svg') }}"></div>



</div>
<div class="row works-description">
<div class="col-3">Phase 1</div>
<div class="col-3">Phase 2</div>
<div class="col-3">Phase 3</div>
<div class="col-3">Phase 4</div>



</div>

<div class="row works-body">
<div class="col-3">In einem persönlichem Meeting oder beim Kaffee klären wir welche Pakete für Sie am Besten passen und stecken grob einmal den Umsetzungsplan ab.Das Erstgepräch ist bei uns immer kostenlos und unverbindlich. 
</div>
<div class="col-3">Wir erstellen einen konkreten Kostenplan und zeigen auf welche Hardware von Ihnen noch benötigt wird, welche wir stellen und geben je nach Paket schon einmal Überblick über mögliche Konzepte zu Dienstleistungen wie Logo, Webseite und anderer Auftritte </div>
<div class="col-3">Mit Ihnen gemeinsam erabeiten wir einen Zeitplan und eine Minimalfrist in der wir die im Paket gebuchten Dienste bereitstellen.</div>
<div class="col-3">Im übrig gebliebenen Restzeitrahmen sorgen wir für den letzten Feinschliff und testen die Umgebung auf ordnungsgemäße Funktion</div>



</div>
</div>