{% extends "base.html" %}
{% block app_content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
<script type="text/javascript" src="{{url_for('static', filename='js/index.js')}}"></script>

<div class="row image-slide">
	<div class="col-xs-12 ">


<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{ url_for('static', filename='img/box.jpg') }}">
    </div>

    <div class="carousel-item">
      <img src="{{ url_for('static', filename='img/desktop.jpg') }}" >
    </div>
    <div class="carousel-item">
      <img src="{{ url_for('static', filename='img/student.jpg') }}" >
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>

</div></div>

<div class="container">
  <div class="row site-header">
<div class=" col-12"> <img src="{{ url_for('static', filename='img/icons/one.svg') }}"> Ansprechpartner, <img src="{{ url_for('static', filename='img/icons/one.svg') }}"> Paket, <img src="{{ url_for('static', filename='img/icons/one.svg') }}"> Lösung </div></div></div>





<div class="section-1-container container" id="section-1-container"></div>
<div class="section-2-container"  id="section-2-container" style="display:none;"><a href="" class="consult-b">Jetzt einen kostenlosen Beratungstermin vereinbaren</a></div>
<div class="section-3-container" id="section-3-container"></div>
<div class="section-4-container"></div>


{% endblock %}