
<div class="row detail-b-wrapper">
	<div class="col-12">
<button  type="button" onclick="load_content('/container_explain' ,'section-1-container')" class="btn btn-success"> <span class="glyphicon glyphicon-triangle-left"></span>Zurück</button>
</div></div>

<div class="row detail-header">
	<div class="col-12">Individuelle Zusammenstellung nach dem Baukastenprinzip</div></div>



<div class="row"> <div class="col-12">
Die vorgeschlagenen Pakete dienen nur als Richtlinie um sich erst einmal einen Überblick über die Module zu verschaffen. Über die 'Jetzt Konfigurieren Schaltfläche' oder im Zuge des Beratungsgesprächs können Sie die jeweiligen Pakete perfekt an Ihre Bedürfnisse anpassen. 
</div>


</div>




