

<div class="flex-pack">
	
<div class="flex-item package-wrapper">
<div class="row package-header "><div class="col-2"><img class="package-img" src="{{ url_for('static', filename='img/icons/car.svg') }}"></div><div class="col-10">Business Small</div></div>
<div class="row package-items " ><div class="col-12">
	<ul>

		<li>Office 365 inklusive Mail und Sharepoint</li>
		<li>Eigene Domainumgebung</li>
		<li>Firewall</li>
		<li>Aufbau einer einfachen Unternehmenswebseite mit mobile Support inkl. Wartung</li>
		<li>Support zu Problemen innerhalb von 8-17 Uhr über Ticket/Mail und Teamviewer</li>
		<li>Erstellen eines eigenen Logos</li>
		<li>Einrichtung von Internet und Telefonanlage</li>
		<li>Koordination und Kontakt zu/mit Brachenspezifischen Softfwarefirmen</li>
		<li>Einfache Installation von Software über Softwareportal(SCCM)</li>
		<li>Problembehebung vor Ort bei Erforderniss</li>
		<li>Automatisches Backup von Ordnern und Mails</li>
		<li>Installation und Wartung der Druckerumgebung bei Problemen</li>
		<li>Zeiterfassung über Software von myITBox</li>
        
		






	</ul>



</div></div>
<div class="row package-price "><div class="col-12">20 € pro Mitarbeiter</div></div>
<div class="row package-button "><div class="col-12"><a href="{{ url_for('main.configurator')}}" class="config-b">Jetzt konfigurieren</a></div></div></div>

<div class="flex-item package-wrapper">
<div class="row package-header "><div class="col-2"><img class="package-img" src="{{ url_for('static', filename='img/icons/bus.svg') }}"></div><div class="col-10">Business Medium</div></div>
<div class="row package-items " ><div class="col-12">

<ul>
	<li>Support zu Problemen über Hotline und Ticket/Mail innerhalb von 8-17 Uhr  Mo - Fr</li>
	<li>Einrichtung und Wartung von Datenbanken</li>
	<li>Komplettes Grafikportfolio mit Visitenkarten,Werbemitteln, Plakaten etc...</li>
	<li>Eigene Webseite mit erweiterten Funktionen(Kleiner Webshop,Blog,Wiki,Chat...)</li>
	<li>Unterstützung bei eigenen Softwarelösungen wie bzw. Zeierfassung, SAP ...</li>
	<li>Backup von Servern und Diensten über Failover Cluster zum schutz vor Ausfällen </li>
	<li>VPN für die Arbeit von Zuhause</li>
	<li>Einrichtung und Wartung einer Zugriffsbeschränkten Ordner und Mailstruktur falls benötigt</li>
	</div>
	




</ul>




</div>
<div class="row package-price "><div class="col-12">40 € pro Mitarbeiter</div></div>
<div class="row package-button "><div class="col-12"><a href="{{ url_for('main.configurator')}}" class="config-b">Jetzt konfigurieren</a></div></div></div>


<div class="flex-item package-wrapper">
<div class="row package-header "><div class="col-2"><img class="package-img" src="{{ url_for('static', filename='img/icons/train.svg') }}"></div><div class="col-10">Business Big</div></div>
<div class="row package-items " ><div class="col-12">
<ul>
	<li>Eigene Netzwerk und Serverstrukturen vor Ort</li>
	<li>Trennung von Abteilungen über Vlans</li>
	<li>Kombinierte Firewalllösungen direkt vor Ort</li>
	<li>Einrichtung eines zentralen Druckerdienstes(Druckerpool)</li>
	<li>Unterstützung bei der Einrichtung von elektronischen Zugriffsbeschränkungen und Zeiterfassungen über Chip/Karte</li>
	<li>Einrichtung eines Intranetauftritts</li>
	<li> Einrichtung einer Webseite mit erhöhtem Kundenaufkommen,Shop und sensiblen Kundendaten</li>


</ul>
</div>

</div>
<div class="row package-price "><div class="col-12">60€ pro Mitarbeiter</div></div>
<div class="row package-button "><div class="col-12"><a href="{{ url_for('main.configurator')}}" class="config-b">Jetzt konfigurieren</a></div></div></div>

<div class="flex-item package-wrapper">
<div class="row package-header "><div class="col-2"><img class="package-img" src="{{ url_for('static', filename='img/icons/airplane.svg') }}"></div><div class="col-10">Business Enterprise</div></div>
<div class="row package-items " ><div class="col-12">
	<ul>
		<li>Netzwerke mit direktem Kontakt über mehrere Standorte verteilt(MPLS)</li>
		<li>Parallele Integration mit Paralellbetrieb von Dienstleistungen ohne Ausfall des Betriebs oder direkter Umstellung</li>
		<li>Support außerhalb der Geschäftszeiten im Notfall</li> 
		<li>Koordination und Wartung von Servern im Cluster</li>
		<li>Umfangreiche Sonderlösungen ,gerne direkt Kontakt aufnehmen</li>
		




	</ul>



</div></div>
<div class="row package-price "><div class="col-12">100€ pro Mitarbeiter</div></div>
<div class="row package-button "><div class="col-12"><a href="{{ url_for('main.configurator')}}" class="config-b">Jetzt konfigurieren</a></div></div></div>







</div>



