

<div class="flex-container">
	
<div class="flex-item package-wrapper">
<div class="row package-header cblue"><div class="col-2"><img class="package-img" src="{{ url_for('static', filename='img/icons/car.svg') }}"></div><div class="col-10">Business Small</div></div>
<div class="row package-items cgreen" ><div class="col-12">
	<ul>

		<li>Office 365(ohne Sharepoint und Exchange)</li>
		<li>Eigene Domainumgebung</li>
		<li>Firewall</li>
		<li>Konfiguration,Wartung und Kaufberatung der Hardware</li>
		<li>Eigener Webauftritt inkl. Wartung</li>
		<li>Einrichtung verschiedener Zugriffstufen auf Dienste und Software(Active Directory)</li>
		<li>Support zu Problemen innerhalb von 8-17 Uhr über Ticket</li>
		<li>Erstellen eines eigenen Logos</li>
		<li>Einrichtung von Internet und Telefonanlage</li>
		<li>Koordination und Kontakt zu/mit Brachenspezifischen Softfwarefirmen</li>







	</ul>



</div></div>
<div class="row package-price cred"><div class="col-12">20 € pro Mitarbeiter</div></div>
<div class="row package-button cred"><div class="col-12"><a href="{{ url_for('main.configurator')}}" class="config-b">Jetzt konfigurieren</a></div></div></div>

<div class="flex-item package-wrapper">
<div class="row package-header cblue"><div class="col-2"><img class="package-img" src="{{ url_for('static', filename='img/icons/bus.svg') }}"></div><div class="col-10">Business Medium</div></div>
<div class="row package-items cgreen" ><div class="col-12">

<ul>
	<li>Alle Dienstleistungen aus Business Small</li>
	<li>Einrichtung und Wartung von Datenbanken</li>
	<li>Einrichtung eines Sharepoints zum  Austauch von Nachrichten und Dokumenten zwischen Mitarbeitern</li>
	<li>Wartung eigener interner Server und Einrichtung einer DMZ</li>
	<li>Eigene Webseite mit zusätzlichen Funktionen(Webshop,Blog,Wiki,Chat...)</li>
	<li>VPN für die Arbeit von Zuhause</li>
	</div>
	




</ul>




</div>
<div class="row package-price cred"><div class="col-12">40 € pro Mitarbeiter</div></div>
<div class="row package-button cred"><div class="col-12"><a href="{{ url_for('main.configurator')}}" class="config-b">Jetzt konfigurieren</a></div></div></div>


<div class="flex-item package-wrapper">
<div class="row package-header cblue"><div class="col-2"><img class="package-img" src="{{ url_for('static', filename='img/icons/train.svg') }}"></div><div class="col-10">Business Big</div></div>
<div class="row package-items cgreen" ><div class="col-12">
<ul>
	<li>Alles aus vorherigen Paketen</li>
	<li>Installation und Wartung eines über mehrere Stockwerke verteilten Netzwerks</li>
	<li>Gastwlan</li>
	<li>Einrichtung eines zentralen Druckerdienstes(Druckerpool)</li>
	<li>Einfache und Automatische Vergabe von Rechten über Plattform</li>
	<li>Unterstützung bei der Einrichtung von elektronischen Türöffnern</li>
	<li>Einrichtung eines Intranetauftritts</li>


</ul>
</div>

</div>
<div class="row package-price cred"><div class="col-12">60€ pro Mitarbeiter</div></div>
<div class="row package-button cred"><div class="col-12"><a href="{{ url_for('main.configurator')}}" class="config-b">Jetzt konfigurieren</a></div></div></div>

<div class="flex-item package-wrapper">
<div class="row package-header cblue"><div class="col-2"><img class="package-img" src="{{ url_for('static', filename='img/icons/airplane.svg') }}"></div><div class="col-10">Business Enterprise</div></div>
<div class="row package-items cgreen" ><div class="col-12">
	<ul>
		<li>Koordination mit eigenen Entwicklern und Technikern</li>
		<li>Netzwerke über mehrere Standorte verteilt(MPLS)</li>
		<li>Parallele Integration von Dienstleistungen ohne Ausfall des Betriebs oder direkter Umstellung</li>
		<li>Support mit Anfahrt und Telefon während der Zeit von 7-20 Uhr</li>
		<li>Koordination und Wartung von Servern im Cluster</li>
		




	</ul>



</div></div>
<div class="row package-price cred"><div class="col-12">100€ pro Mitarbeiter</div></div>
<div class="row package-button cred"><div class="col-12"><a href="{{ url_for('main.configurator')}}" class="config-b">Jetzt konfigurieren</a></div></div></div>







</div>



