<div class="row detail-b-wrapper">
	<div class="col-12">
<button  type="button" onclick="load_content('/container_explain' ,'section-1-container')" class="btn btn-success"> <span class="glyphicon glyphicon-triangle-left"></span>Zurück</button>
</div></div>



<div class="row detail-header">
	<div class="col-12">Skalierbar mit Ihren zukünftigen Bedürfnissen und dem Wachstum Ihrer Firma</div></div>


<div class="row"> <div class="col-12">
In unserem Dashboard haben Sie zu jederzeit die Möglichkeit die von Ihnen gebuchten Pakete umzubuchen, zu erweitern oder sich neue hinzubuchen. Da die Abrechnung minutenweise erfolgt können Sie so Ihre IT Anforderungen optimal an die jeweiligen Anforderungen apassen und sparen damit Kosten, den für viele der Dienste zahlen Sie aich nur dann wenn Sie sie wirklich benötigen.

Außerdem sind sie mit unserem Service auch bestens für ein Wachstum Ihrer Firma gewappned da Sie mit nur wenigen Klicks einen erhöhten IT Bedarf hinzubuchen können.
  
</div>


</div>

