
<div class="row detail-b-wrapper">
	<div class="col-12">
<button  type="button" onclick="load_content('/container_explain' ,'section-1-container')" class="btn btn-success"> <span class="glyphicon glyphicon-triangle-left"></span>Zurück</button>
</div></div>


<div class="row detail-header">
	<div class="col-12">Transparente Kosten</div></div>



<div class="row"> <div class="col-12">
Alle Momentanen und prognostizierten Kosten eines Zeitabschnitts wie Monat, Jahr, Tag, können übersichtlich im eigenen Dashboard angezeigt werden. Unsere Statistiken über Nutzungszeit , Useranzahl etc. der verschiedenen Dienste ermölichen es zusätlzlich unnötige Kosten oder Bedarf genau aufzudecken und dementsprechen direkt an die Situation anzupassen.

Sollten doch einmal andere Dienste benötigt werden als im Paket gebucht ohne das rechtzeitig umgebucht werden konnte so geschiet auch dies volkommen transparent und es entstehnen aufgrund einer Notsituation keine erheblichen Mehrkosten.


</div>


